
* AunarFi {  
  font-family: 'kanit','san serif';
}
/*
* {
  box-sizing: border-box;
} */

body {
  overflow:auto;
  background-color: #121212;
  font-family: 'kanit','san serif';
}

.header {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.infonav {
  display: flex;
  margin-top: 15px;
  margin-left: 80%;
}

.connectButton {
  background-color: lightslategrey;
  width: auto;
  padding: 6px;
  border-color: lightgray;
  border-radius: 3px;
}

.submitButton {
  background-color: lightslategrey;
  width: auto;
  padding: 20px;
  border-color: lightgray;
  border-radius: 3px;
}


.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-weight: bold;
}

.flexContainerSending {
  display: flex ;
  align-items:center;
  padding: 5px;
  width: 200px;
  flex-direction: column;
  margin: 10px;
  background: rgba(186, 192, 186, 0.35);
  box-shadow: 0 8px 16px 0 rgba(234, 235, 255, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
}

.flexContainerReceiving {
  display: flex;
  align-items:center;
  padding: 5px;
  width: 200px;
  flex-direction: column;
  margin: 10px;
  background: rgba(186, 192, 186, 0.35);
  box-shadow: 0 8px 16px 0 rgba(234, 235, 255, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  
}

.flexInput {
  flex-direction: row;
  width: 100px;
  margin: 2px;
  padding: 10px;
  border: 1px solid darkslategrey;
  border-radius: 5px;
  background-color: white;
  font-size: small;
  font-weight: bold;
  
}


.AunarFi label {
  text-align: left;
  display: block;
}



.AunarFi h2 {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.AunarFi input, .AunarFi textarea, .AunarFi select {
  width: 100%;
  padding: 8px 3px;
  margin: 10px 0;
  border: 1px #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
}

